.d {
  background: red
}

.headerF {
  margin-top: 50px;
}

.title {
  color: #000000;
  font-weight: 600;
  width: 40%;
  float: left;
  left: 5%;
  right: 5%;
  margin-bottom: 5px;
  margin-left: 7px;
}

.subtitle {
  color: blue;
  font-weight: 600;
  width: 40%;
  float: right;
  left: 5%;
  right: 5%;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-right: 7px;
}

.scrollBar {
  height: 1200px;
  overflow-y: auto;
}

.wrapper {
  border: 2px dotted rgb(96, 139, 168);
  width: 500px;
}

.registerStudentPanel {
  font-family: 'Roboto';

  background: rgba(154, 18, 179, 1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  -webkit-box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -23px -42px 244px 200px rgba(154, 18, 179, 1);
  box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 1px solid #000000;
  opacity: 0.9;
}

/* .registerStudentPanel>* {
  flex: 1 1 30%;
  /*grow | shrink | basis 
  height: 100px;
} */


.title {
  background-color: #fff4e6;
  border: 1px solid #b307f7;
  margin-top: 15px;
  margin-left: 20px;
}

.studentSideA {
  font-family: 'Roboto';
  margin: 20px 0 0 0;
  width: 56%;
  height: 85%;
  right: 22%;
  left: 22%;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  padding: 10px 85px 50px 50px;
  -webkit-box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 1px solid #000000
}

.studentSideB {
  font-family: 'Roboto';
  margin: 40px 0 0 0;
  width: 56%;
  height: 85%;
  right: 22%;
  left: 22%;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px 85px 50px 50px;
  -webkit-box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  box-shadow: -23px -42px 244px 200px rgba(0, 0, 0, 0.66);
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 1px solid #000000
}

.headersFont {
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  margin-top: 80px;
}

.headersGrid {
  color: white;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-top: 0.6vh;
  grid-column: 5/ 13;
  grid-row: 1 / 2;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
}

.headersGridX {
  color: white;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-top: 0.6vh;
  width: 55vw;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
}

.headersGridS {
  color: white;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-top: 0.6vh;
  grid-column: 7 / 11;
  grid-row: 1 / 2;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
}

.headersGridModal {
  color: white;
  background-image: linear-gradient(to right, #4B0082, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-bottom: 0.5vh !important;
  grid-column: 5/ 13;
  grid-row: 1 / 2;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
}

.modal-open .modal-backdrop.in:nth-child(2) {
  opacity: .5
}

.modal-backdrop.in {
  opacity: 0.9;
}

.headersGrid3 {
  color: red;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-top: 0.6vh;
  grid-column: 5/ 13;
  grid-row: 2 / 3;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
  position: absolute;
}

.headersGrid2 {
  color: white;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  font-family: 'Roboto';
  font-weight: 350;
  font-size: 22px;
  padding-left: 1.2vw;
  padding-top: 0.6vh;
  grid-column: 3/ 17;
  grid-row: 1 / 2;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  height: 6.4vh;
}



/*transparencia y sombreado----------------------------------*/
.formPanel::after {
  content: '';
  display: table;
  clear: both;

}

* {
  box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */
.container {
  font-family: 'Roboto';
  grid-column: 5 / 9;
  grid-row: 2 / 18;
  background: #FFF;
  display: grid;
  grid-template-columns: 1 1fr;
  grid-template-rows: 14 1fr;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
  /* grid-template-areas:
    '... b b b b ... d d d d ...'
    '... b b b b ... d d d d ...'
    '... ... ... ... ... ... ... ... ... ... ...'
    '... h h h h ... j j j j ...'
    '... h h h h ... j j j j ...'
    '... ... ... ... ... ... ... ... ... ... ...'
    '... n n n n ... p p p p ...'
    '... n n n n ... p p p p ...'
    '... ... ... ... ... ... ... ... ... ... ...'
    '... t t t t ... v v v v ...'
    's t t t t u v v v v w'
    '... ... ... ... ... ... ... ... ... ... ...'
    '... z z z z ... 2 2 2 2 ...'
    '... z z z z ... 2 2 2 2 ...'
    '... ... ... ... ... ... ... ... ... ... ...'
    '... 5 5 5 5 ... 7 7 7 7 ...'
    '... 5 5 5 5 ... 7 7 7 7 ...'
    '... ... ... ... ... ... ... ... ... ... ...'

  ; */

}

.containerForm1X {
  font-family: 'Roboto';
  grid-column: 5 / 9;
  grid-row: 2 / 18;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
}

.container1X {
  font-family: 'Roboto';
  grid-column: 5 / 11;
  grid-row: 2 / 18;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
}

.container1XY {
  font-family: 'Roboto';
  grid-column: 5 / 11;
  grid-row: 2 / 18;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
}

.container1XX {
  font-family: 'Roboto';
  grid-column: 5 / 9;
  grid-row: 2 / 13;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
}

.containerX {
  font-family: 'Roboto';
  display: 'flex';
  background: #FFF;
  flex-direction: 'column';
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);


}

.containerS {
  font-family: 'Roboto';
  grid-column: 7 / 11;
  grid-row: 2 / 12;
  display: 'flex';
  background: #FFF;
  flex-direction: 'column';
  padding-left: '2vw';
  opacity: 0.9;
  border-bottom-left-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .50);
}

/* i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

} */

.container>div {
  padding-right: 0.3vw;
}

.container2 {
  font-family: 'Roboto';
  grid-column: 9 / 13;
  grid-row: 2 / 18;
  background: #FFF;
  display: grid;
  grid-template-columns: 1 1fr;
  grid-template-rows: 14 1fr;
  opacity: 0.9;
  border-bottom-right-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .50);
}

.container2X {
  font-family: 'Roboto';
  grid-column: 9 / 13;
  grid-row: 2 / 18;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-right-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .50);
}

.container2XX {
  font-family: 'Roboto';
  grid-column: 9 / 13;
  grid-row: 2 / 13;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-right-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .50);
}

.container2XXY {
  font-family: 'Roboto';
  grid-column: 9 / 12;
  grid-row: 2 / 13;
  background: #FFF;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  border-bottom-right-radius: 4px;
  overflow-x: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .50);
}

.container3 {
  font-family: 'Roboto';
  grid-column: 5 / 15;
  grid-row: 1 / 16;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  display: flex;
  flex-direction: column;
  /*grid-template-columns: 2 1fr;
  grid-template-rows: 2 1fr 2fr; */
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
  border-radius: 10px;
  margin-bottom: 0vh;
  opacity: 0.9;
}

.container4Main {
  grid-column: 5 / 13;
  grid-row: 2 / 13;
  background: #FFF;
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template-rows: 8 1fr;
  border-radius: 4px;
  opacity: 0.9;
}

.container4 {
  font-family: 'Roboto';
  grid-column: 1 / -1;
  grid-row: 1 / 8;
  background: #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 0vh;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.container5 {
  font-family: 'Roboto';
  grid-column: 3 / 17;
  grid-row: 2 / 19;
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template-rows: 13 1fr;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .50);
  overflow-y: visible;
  z-index: 0;
  padding-top: 2.5vh;
  opacity: 0.9;
}


.calendarMainContainer {
  font-family: 'Roboto';
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: -1;
}

.calendarContainer {
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4.6vw;
  z-index: -2;
}

.calendarScheduleContainer {
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2.6vw;
  padding-right: 2.1vw;
}

.containerFlexRow {
  grid-column: 1 /-1;
  grid-row: 8 / 9;
  background: #FFF;
  display: flex;
  flex-direction: row;
}

#flex-col {
  flex-direction: column;
}

.areaA {
  grid-column: 2 / 4;
  grid-row: 1 / 2;

}

.areaB {
  grid-area: b;
}

.areaD {
  grid-area: d;
}

.areaH {
  grid-area: h;
}

.areaJ {
  grid-area: j;
}

.areaN {
  grid-area: n;
}

.areaP {
  grid-area: p;
}

.areaT {
  grid-area: t;
}

.areaV {
  grid-area: v;
}

.areaZ {
  grid-area: z;
}

.area2 {
  grid-area: 2;
}

.area5 {
  grid-area: 5;
}

.area7 {
  grid-area: 7;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}

/* 
.footer {
  text-align: center;
}

.footer a {
  color: #53B2C8;
} */

*/

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}


/*PANEL-------------------------------------------------------*/

.panelA {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/235/563/large/rasel-coridor2.jpg?1533742657');
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  z-index: -1;
  margin-top: none;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  padding-left: 90vw;
  padding-top: 90vh;
}

/*TOPINFO-------------------------------------------------------*/

.topInfoA {
  width: auto;
  top: 10vh;
  left: 49vw;
  transform: translate(-50%, -50%);
  /* color: #8f1423; */
  color: white;
  background: linear-gradient(to right, #9400D3, #DA70D6);
  opacity: 0.7;
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.topInfoA1 {
  font-size: 22px;
}

.topInfoA2 {
  font-size: 16px;
}

.tableContent {
  background-color: 'white !important';
  grid-column: 2 / 17;
  grid-row: 2 / 14;
  color: black;
  display: 'flex';
  flex-direction: row;
  width: 800px !important;
  opacity: 0.9;

}

.tableContent2 {
  background-color: 'white !important';
  grid-column: 2 / 17;
  grid-row: 2 / 14;
  color: black;
  display: 'flex';
  flex-direction: column;
  font-size: 18px;

}

.msgError {
  color: #8f1423;
  font-family: 'Roboto';
  font-size: '22px';
  font-weight: 500;
}

.loginA {
  width: auto;
  min-height: 60vh;
  top: 55vh;
  left: 49vw;
  transform: translate(-50%, -50%);
  color: #8f1423;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  opacity: 0.91;
  box-sizing: border-box;
  align-items: center;
  padding-top: 2vh;
}

.logoA {
  width: 191px;
  height: 192px;

  color: #8f1423;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  opacity: 0.9;
  background-image: url('https://i.ibb.co/b5P6pSX/ishc0Nh.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .50);
}

.topInfoAnormal {
  width: 100%;
  min-height: 7vh;
  position: relative;
  background-image: linear-gradient(to right, #4B0082, #DA70D6);
  background-attachment: fixed;
  opacity: 1;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 1vh;
  padding-left: 69vw;
  padding-right: 1px;
  padding-bottom: 1vh;
}

/*HEADER BAR-----------------------------------*/

.headerBarA {
  width: 100vw;
  height: 10.5vh;
  position: absolute;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  background-attachment: fixed;
  opacity: 0.9;
  display: flex;
  align-items: flex-end;
  padding-top: 1vh;
  padding-left: 70.5vw;
  padding-right: 2vwmax;
  padding-bottom: 1vh;
  transform: (20%, 0%);
}

/*
.headerBarA {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex:  1 1 auto;
  -webkit-flex:  1 1 auto;
  -ms-flex:  1 1 auto;
  flex:  1 1 auto;  
}
*/

/*SIDEBAR-------------------------------------------------------*/
.sideBarA {
  max-width: 31vh;
  min-height: 89.5vh;
  margin-top: 10.5vh;
  background-image: linear-gradient(to left, #4B0082, #9932CC);
  background-attachment: fixed;
  opacity: 0.9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0.3vh;
  padding-left: 0.5vh;
  padding-right: 0.7vh;
  padding-bottom: 53vh;
  position: absolute;
}

.sideBarA-child {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-direction: column;
}

/*BUTTONS-------------------------------------------------------*/
.navHeader {
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.buttonDelete {
  background-image: linear-gradient(to right, #FF0000, #DC143C);
  /*#4CAF50 green*/
  font-family: 'Roboto';
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: -1vh;
  width: 7vw;
  height: 5vh;
  border-radius: 10%;
}

.buttonA {
  background-color: #4B0082;
  /*#4CAF50 green*/
  font-family: 'Roboto';
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 1vw;
  margin-right: 4vw;
  width: 10vw;
  height: 8vh;
}

.buttonB {
  background-color: #4B0082;
  /*#4CAF50 green*/
  border: none;
  color: white;

  padding: 0vw;
  box-sizing: border-box;
  width: 8vw;
  height: 8vh;
  opacity: 0.8;
}

.buttonRepeat {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*SIDEBAR WRONG--------------------------------------------------*/
.sideBarF {
  width: 10%;
  height: 80%;
  color: red;
  border: 1px solid #000;
  background-image: url(https://imgur.com/ikOgCXG);
  font-weight: 600;
  float: left;
  left: 5%;
  right: 5%;
  margin-bottom: 5px;
  margin-left: 7px;
}

.contentA {
  width: 84.4vw;
  height: 58vh;
  margin: 15vw 0 0 15vw;
  background: black;
  color: white;
  display: flex;
  padding-left: 10vw;
  padding-bottom: 10vh;
  align-items: flex-start;
  font-family: 'Roboto';
  font-size: 22px;
  position: absolute;
  opacity: 0.9;

}

.contentAChild {
  box-sizing: border-box;
  text-align: center;
}

body {
  overflow: hidden;
}

.login {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background-image: url('https://i.ibb.co/Yfcbt8C/147374-amazing-anime-school-background-2050x1153.jpg');
  /* background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/235/563/large/rasel-coridor2.jpg?1533742657'); */
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100vw;
  height: 100vh;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/012/235/563/large/rasel-coridor2.jpg?1533742657');
  background-size: cover;
  background-attachment: fixed;
}

.main2 {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.ibb.co/Y3Yf46d/200632.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.modal-backdrop {
  opacity: 0.1 !important;
}

.modal {
  font-family: 'Roboto';
}

.header {
  background-image: linear-gradient(to right, #4B0082, #DA70D6);
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  display: flex;
  box-sizing: border-box;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  justify-content: flex-end;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  opacity: 0.8;
}

.header>div {
  flex: auto;
}

.navHeaderSub {
  font-size: 16px;
}

.menu {
  background-color: #4B0082;
  color: white;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 1vh;
  font-size: auto;
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  opacity: 0.8;
  text-align: justify;
  text-justify: distribute;
}

.menu>div {
  flex: auto;
}


.content {
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  grid-column: 3 / -1;
  grid-row: 2 / 24;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(14, 1fr);
  overflow-y: scroll;
  padding: 20px;
}

.contentRegStudentX {
  color: white;
  font-family: 'Roboto';
  font-size: 22px;
  grid-column: 3 / -1;
  grid-row: 2 / 24;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(14, 1fr);
  overflow-y: scroll;
  padding: 20px;
}


html {
  height: 100%;
}


.footer {
  color: white;
  font-family: 'Roboto';
  display: flex;
  box-sizing: border-box;
  font-size: 22px;
  justify-content: flex-end;
  align-content: flex-end;
  grid-column: 3 / -1;
  grid-row: 24 / -1;
  padding-top: 0vh;
  margin-top: auto;
}

.logoSmall {
  background-image: url('https://i.ibb.co/b5P6pSX/ishc0Nh.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  padding-left: 4vw;

}

.selectIssue {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  width: 60%;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: 2vh;
  margin-left: 0.6vw;
  padding-left: 0.5vw;
  box-shadow: 0px 0px 5px rgba;
}

.textIssue {
  margin-left: 1.1vw;
  margin-right: 1.1vw;
  margin-top: 2vh;
  height: 15vw;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

.textIssue:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

/* Select.is-open {
  z-index: 1000 !important;
}

Select-menu {
  z-index: 1000 !important;
  position: fixed !important;

} */

.selectStyle {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  width: 17.8vw !important;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -0.5vh;
  margin-left: -0.5vw;
  padding-left: -1vw;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;

}

.selectStyle3 {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  width: 17.8vw !important;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -0.3vh;
  margin-left: 1.3vw !important;
  padding-left: 1.3vw !important;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

.selectStyle3X {
  color: #4B0082;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: normal;
  line-height: 0.7;
  width: 15vw !important;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

.selectStyle3XYZ {
  color: #4B0082;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: normal;
  line-height: 0.7;
  width: 15.5vw !important;
  padding: 0.16666666666667em 0.5em;
  margin-top: -6vh;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
  margin-left: 1.5vw;
}

.selectStyle3XX {
  color: #4B0082;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: normal;
  line-height: 0.7;
  width: 15.5vw !important;
  padding: 0.16666666666667em 0.5em;
  margin-left: -0.4vw;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

.selectStyle3XXXL {
  color: #4B0082;
  /* display: inline-block; */
  font-size: 18px;
  font-weight: normal;
  line-height: 0.7;
  width: 18vw !important;
  padding: 0.16666666666667em 0.5em;
  margin-left: -2.4vw;
  margin-top: -0.5vw;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

.dashboardHeader {
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
  opacity: 0.9;
}

.selectStyle4X {
  color: #4B0082;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: normal;
  line-height: 0.7;
  width: 15vw !important;
  margin-left: 2vw;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

Select-menu-outer {
  z-index: 999 !important;
}

.selectStyle-menu-outer {
  z-index: 999 !important;
}

.Select-menu-outer {
  z-index: 999 !important;
}

/* 
.selectStyle.is-open {
  z-index: 1 !important;
} */

.selectStyle2 {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  min-width: 1;
  max-width: 18.8vw;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -0.5vh;
  margin-left: 0.3vw;
  padding-left: 0.5vw;
  padding-right: 1vw;
  margin-right: 1vw;
  margin-bottom: 0.3vh;
  /* marginLeft: '0.5vw', paddingLeft: '0.3vw', paddingRight: '1vw', marginRight: '1vw', width: '18.3vw' */
}

.selectStyleClassroom {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  min-width: 1;
  max-width: 18.9vw;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -0.5vh;
  margin-left: -0.5vw;
  padding-left: 0.5vw;
  padding-right: 1vw;
  margin-right: 1vw;
  margin-bottom: 0.3vh;
  /* marginLeft: '0.5vw', paddingLeft: '0.3vw', paddingRight: '1vw', marginRight: '1vw', width: '18.3vw' */
}

.selectStyleClassroom2 {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  min-width: 1;
  width: 18.8vw;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -0.5vh;
  margin-left: 0vw;
  padding-left: 0.5vw;
  padding-right: 1vw;
  margin-right: 1vw;
  margin-bottom: 0.3vh;
  /* marginLeft: '0.5vw', paddingLeft: '0.3vw', paddingRight: '1vw', marginRight: '1vw', width: '18.3vw' */
}

.selectStyle3 {
  color: #4B0082;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  min-width: 1;
  max-width: 18.8vw;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  margin-top: -1.5vh;
  margin-left: 0.3vw;
  padding-left: 0.5vw;
  padding-right: 1vw;
  margin-right: 1vw;
}

.selectStyle:focus {
  outline: 3px #8842d5 solid;
  outline-style: outset;
  border-radius: 4px;
}

.selectStyle2:focus {
  box-shadow: 20px 20px 20px 1px rgba(52, 152, 219, 1) !important;
  outline: 3px #8842d5 solid;
  border-color: 3px #8842d5 solid;
  outline-style: solid;
  border-radius: 4px;
}

/* input[type="selectStyle"].big-dog::-webkit-input-placeholder {
  color: orange;
} */

Select:focus {
  outline: 3px #DA70D6 solid !important;
  box-shadow: 20px 20px 20px 1px #8842d5 !important;
  outline-style: outset;
  border-radius: 10px;
  height: 7vh;
}

.calendarStyle[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 17vw;
  margin-top: -0.5vh;
  margin-left: 0.09vw;
  font-size: 18px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  line-height: 0.8;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
  opacity: 0.9;
  z-index: 1 !important;
  clear: left;
}

.calendarStyle2Start[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 17vw;
  margin-top: -0.5vh;
  margin-left: 0vw;
  font-size: 18px;
}

.calendarStyle2End[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 17.3vw;
  margin-top: -0.5vh;
  margin-left: 0.45vw;
  font-size: 18px;
}

.timeStyle[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 14vw;
  margin-top: -0.5vh;
  /* margin-left: 0.09vw; */
  font-size: 16px;
}

.timeStyleXz {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 14vw;
  margin-right: 0;
  margin-top: -0.5vh;
  /* margin-left: 0.09vw; */
  font-size: 16px;
}

.timeStyleX[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 14vw;
  margin-right: 0;
  margin-top: -0.5vh;
  /* margin-left: 0.09vw; */
  font-size: 16px;

}

.timeStyle2[type=text] {
  border: 1px silver solid;
  /*#8842d5; */
  border-radius: 4px;
  height: 6vh;
  width: 17.3vw;
  margin-top: -0.5vh;
  margin-left: 0.45vw;
  font-size: 16px;
}

.calendarStyle[type=text]:hoover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}


input {
  border-radius: 4px;
}

input[type=text] {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}


input[type=text]:focus {
  border-radius: 4px;
}

/* 
input[type=text]::selection,
input[type=text]:not(:focus) {
  border-radius: 4px;
  box-shadow: 0px 0px 100px rgba(78, 28, 53, 0.25);
} */

/* input:focus,
textarea {
  box-shadow: 0px 0px 5px rgba(78, 28, 53, 0.25);
  outline: none !important;
} */
input[type=text] {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

input[type=text]:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

input[type=password]:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.input-group[type=text]:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.modalGrid {
  display: grid;
  grid-template-columns: 3 1fr;
}

.modalFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-content: center;
  /* grid-column: 0 / 1; */
}

.modalFlex2 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
}

.modalFlex3 {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
}

.fa-eye:hover {
  transform: scale(1.5);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, .25); */
}

.fa-edit:hover {
  transform: scale(1.5);
}

.fa-trash-alt:hover {
  transform: scale(1.5);
}

input[type=text]:hover::after {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

input[type=text]>span:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

/* input[type=text]not(:focus) {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
} */
Input[type=text] {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

Input[type=text]:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.inputStyle[type=text]:focus {
  /* outline: 3px #BA55D3 solid; */
  border-radius: 4px;
}

Button {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
}

Button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.schoolPic {
  /* grid-column: 1 / 3;
  grid-row: 1 / 2; */
  flex: 2;
  background-image: url('http://www.creson.edu.mx/images/unidades/ENSO.jpg');
  background-repeat: no-repeat;
  background-size: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, .50);
  border-radius: 4px;
}

.contactInfo {
  /* grid-column: 1 / 2;
  grid-row: 2 / 3; */
  flex: 1;
  background-image: linear-gradient(to right, #9400D3, #DA70D6);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .50);

}

.contactInfo-child {
  flex: 1 fr auto;
  align-items: center;
}

.external[type=text]::hoover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}